In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline
import seaborn as sns
import json
from pandas.io.json import json_normalize
import re

In [2]:
pd.set_option('max_colwidth',400)

table = pd.read_html("https://github.com/covid19india/api")

In [3]:
table = table[0]
table.head()

,Status,Data,URL
0,ðŸ’š,Patient Level : Raw Data Partition 1 (Till Apr 19),https://api.covid19india.org/raw_data1.json
1,ðŸ’š,Patient Level : Raw Data Partition 2 (From Apr 20 to Apr 26),https://api.covid19india.org/raw_data2.json
2,ðŸ’š,Patient Level : Raw Data Partition 3 (From Apr 27 to May 09),https://api.covid19india.org/raw_data3.json
3,ðŸ’š,Patient Level : Raw Data Partition 4 (From May 10 to May 23),https://api.covid19india.org/raw_data4.json
4,ðŸ’š,Patient Level : Raw Data Partition 5 (From May 24 to Jun 04),https://api.covid19india.org/raw_data5.json

In [4]:
covid_links = table[table["URL"].str.contains("raw_data[0-99]")]["URL"]
covid_links.head()

0    https://api.covid19india.org/raw_data1.json
1    https://api.covid19india.org/raw_data2.json
2    https://api.covid19india.org/raw_data3.json
3    https://api.covid19india.org/raw_data4.json
4    https://api.covid19india.org/raw_data5.json
Name: URL, dtype: object

In [17]:
raw = pd.DataFrame()
try:
    i=1
    link="https://api.covid19india.org/csv/latest/raw_data{}.csv"
    while(True):
        temp = pd.read_csv(link.format(str(i)))
        i+=1
        raw = pd.concat([raw,temp])
except:
    print("Done Reading")
finally:
    print("read data from {} files".format(str(i-1)))

/Users/sakshambhatia/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

Done Reading
read data from 8 files

In [18]:
len(raw)

139185

In [19]:
raw.head()

,Age Bracket,Backup Notes,Contracted from which Patient (Suspected),Current Status,Date Announced,Detected City,Detected District,Detected State,Entry_ID,Estimated Onset Date,...,Num Cases,Num cases,Patient Number,Source_1,Source_2,Source_3,State Patient Number,State code,Status Change Date,Type of transmission
0,20,Student from Wuhan,NaN,Recovered,30/01/2020,Thrissur,Thrissur,Kerala,NaN,NaN,...,NaN,1.0,1.0,https://twitter.com/vijayanpinarayi/status/1222819465143832577,https://weather.com/en-IN/india/news/news/2020-02-14-kerala-defeats-coronavirus-indias-three-covid-19-patients-successfully,NaN,KL-TS-P1,KL,14/02/2020,Imported
1,NaN,Student from Wuhan,NaN,Recovered,02/02/2020,Alappuzha,Alappuzha,Kerala,NaN,NaN,...,NaN,1.0,2.0,https://www.indiatoday.in/india/story/kerala-reports-second-case-of-coronavirus-1642494-2020-02-02,https://weather.com/en-IN/india/news/news/2020-02-14-kerala-defeats-coronavirus-indias-three-covid-19-patients-successfully,NaN,KL-AL-P1,KL,14/02/2020,Imported
2,NaN,Student from Wuhan,NaN,Recovered,03/02/2020,Kasaragod,Kasaragod,Kerala,NaN,NaN,...,NaN,1.0,3.0,https://www.indiatoday.in/india/story/kerala-now-confirms-third-case-of-coronavirus-1642789-2020-02-03,https://twitter.com/ANI/status/1224221485805395968?s=20,https://weather.com/en-IN/india/news/news/2020-02-14-kerala-defeats-coronavirus-indias-three-covid-19-patients-successfully,KL-KS-P1,KL,14/02/2020,Imported
3,45,Travel history to Italy and Austria,NaN,Recovered,02/03/2020,East Delhi (Mayur Vihar),East Delhi,Delhi,NaN,NaN,...,NaN,1.0,4.0,https://www.indiatoday.in/india/story/not-a-jail-delhi-s-1st-covid-19-patient-recalls-time-in-isolation-ward-has-this-one-tip-for-others-1656088-2020-03-16,https://economictimes.indiatimes.com/news/politics-and-nation/coronavirus-cases-in-india-live-news-latest-updates-mar2/liveblog/74432375.cms,NaN,DL-P1,DL,15/03/2020,Imported
4,24,"Travel history to Dubai, Singapore contact",NaN,Recovered,02/03/2020,Hyderabad,Hyderabad,Telangana,NaN,NaN,...,NaN,1.0,5.0,https://www.deccanherald.com/national/south/quarantine-not-a-jail-no-stigma-attached-telanganas-first-coronavirus-case-and-survivor-819012.html,https://www.indiatoday.in/india/story/coronavirus-in-india-tracking-country-s-first-50-covid-19-cases-what-numbers-tell-1654468-2020-03-12,https://www.thehindu.com/news/national/coronavirus-live-updates-march-14-2020/article31066969.ece,TS-P1,TG,02/03/2020,Imported

In [21]:
full = pd.read_csv("https://raw.githubusercontent.com/imdevskp/covid-19-india-data/master/complete.csv")

In [22]:
len(full)

3615

In [34]:
full["Date"].max()

'2020-07-05'